.data_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-top: 2px solid #666;
    background-image: url('../../../public/assets/imgs/vector6.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 100%;
    padding: 1rem 0;
    margin: 1rem 0;
}