@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 70vh;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* body {
    background: #000;
    color: #000;
  }
   */
  .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  
  .mySwiper2 {
    height: 80%;
    width: 100%;
  }
  
  .mySwiper {
    height: 90vh;
    box-sizing: border-box;
    padding: 10px 0;
  }
  
  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 1;
  }
  
  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal, 
.swiper-pagination-custom, 
.swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.swiper-pagination-bullet, 
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap,4px);
  width: 20%;
  height: 7rem;
  border-radius: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-pagination-bullet {
  background: #fff !important;
}

.swiper-pagination-bullet-active {
  background: #16697a !important;
}

.swiper-pagination-bullet-active h3 {
  opacity: 1;
  font-size: clamp(.5rem, 1.3vw, 1.3rem);
  color: #fff !important;
}

#dot {
  opacity: 1;
}
.swiper-pagination-bullet h3 {
  opacity: 1;
  font-size: clamp(.5rem, 1.3vw, 1.3rem);
  color: #333;
}

.swiper-slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.img_box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
}
.img_box::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  content: '';
  background: rgba(0,0,0,.3);
}

.data_box {
  width: 100%;
  max-width: 750px;
  min-width: 280px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  z-index: 5;
  padding: 1.5rem;
}

.data_box h2 {
  color: #fff;
  text-align: right;
  font-size: clamp(.9rem, 1.5vw, 1.5rem);
  margin: 0 0 1.5rem 0;
}

.data_box .btn_box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.data_box .btn_box p {
  color: #fff;
  text-align: right;
  margin: 1rem 0;
  font-size: clamp(.8rem, 1.1vw, 1.1rem);
}

.data_box .btn_box button {
  color: #fff;
  background: #ffa62b;
  border: none;
  outline: none;
  padding: .4rem 3rem;
  font-size: clamp(.8rem, 1.1vw, 1.1rem);
  border-radius: .5rem;
  transition: all .2s linear;
}
.data_box .btn_box button:hover {
  cursor: pointer;
  background: #ff9500;
}